body {
    align-content: center;
    background-color: #777;
    color:#ebebeb;
    text-align:center;
    width: 980px;
    padding:5px;
    margin:auto;
    /* border:solid; */
    border-width:5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
}

#Header {
    align-content: center;
    background-color:#ebebeb;
    color:#777;
    text-align:center;
    width: 960px;
    height:70px;
    padding-top:40px;
    
}

#Nav {
    background-color:#ebebeb;
    color:#777;
    text-align:center;
    width: 960px;
    height: 70px;
    margin-top:5px;
    margin-bottom:5px;
    padding-top:40px;
    
}

footer {
    background-color:#ebebeb;
    color:#777;
    text-align:center;
    width: 960px;
    height:70px;
    margin-top:10px;
    padding-top:40px;
    clear:both;
}

#Section {
    background-color:#ebebeb;
    color:#777;
    text-align:center;
    width: 495px;
    height:200px;
    margin-top:5px;
    margin-right:5px;
    margin-bottom:10px;
    float:left;
    padding-top: 25px;
    }

#Aside {
    background-color:#ebebeb;
    color:#777;
    text-align:center;
    width: 455px;
    height:200px;
    margin-top:5px;
    margin-right:19px;
    margin-bottom:10px;
    margin-left:5px;
    padding-top: 25px;

    float:right;
}

#Article {
    background-color: #777;
    color:#ebebeb;
    text-align:center;
    width:485px;
    margin: 25px 5px 10px 5px;
    padding-top:15px;
    padding-bottom:10px;
}

.clear {

}

#Headers {
    background-color:#ebebeb;
    color:#777;
    text-align:center;
    height:40px;
    margin: 20px 10px 5px 10px;
    padding:auto;
}

#Paragraph {
    background-color:#ebebeb;
    color:#777;
    text-align:center;
    height:40px;
    margin-top:5px;
    margin-right:10px;
    margin-left:10px;
    padding:
}